{{ define "main"}}
<!-- Header Section Begin -->
<header class="header-section">
  <div class="container-fluid">
      <div class="row bg-overlay">
          <div class="header">
              <div class="col-lg-12">
                  <div class="logo">
                      <a href="{{.Site.BaseUrl}}"><img src="{{.Site.BaseUrl}}/img/logo.png" alt=""></a>
                  </div>
                  <div class="navigation mobile-menu">
                      <div class="main-menu">
                          <nav>
                              <ul>
                                <li><a class="active" href="{{.Site.BaseURL}}">Home</a></li>
                              </ul>
                          </nav>
                      </div>
                      <div class="top-social">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                      </div>
                  </div>
                  <div id="mobile-menu-wrap"></div>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- Header End -->

<!-- Hero Area Begin -->
<div class="hero-section">
  <div class="hero-items owl-carousel">
      <div class="single-hero-item set-bg" data-setbg="{{.Site.BaseUrl}}/img/slider/bg-2.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <span class="dateInfo"><span class="month"></span> <span class="day"></span> <span class="year"></span></span>
                      <h1><span class="event-name"></span> <span class="year"></span></h1>
                      <h2 class="f-bold"><span class="location"></span></h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Hero Area End -->

<!-- Speaker Section Begin -->
<section class="speaker-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <h2>Speakers</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6">
              <div class="speakers-about">
                  <div class="speaker-img">
                      <img src="{{.Site.BaseUrl}}/img/speaker-1.jpg" alt="">
                  </div>
                  <div class="speaker-text">
                      <h3>Jessica Doe <span>The Corporate Superhero</span></h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="speakers-about">
                  <div class="speaker-img">
                      <img src="{{.Site.BaseUrl}}/img/speaker-2.jpg" alt="">
                  </div>
                  <div class="speaker-text">
                      <h3>Samatha Doe <span>The Corporate Villain</span></h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="speakers-about">
                  <div class="speaker-img">
                      <img src="{{.Site.BaseUrl}}/img/speaker-3.jpg" alt="">
                  </div>
                  <div class="speaker-text">
                      <h3>Jessica Doe <span>The Pretender</span></h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Speaker Section End -->

<!-- Speak About Section Begin -->
<section class="speak-about spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <h2>We will speak about</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="speak-text">
                  <h2>4 Reasons Why<br />You Should<br />Start Considering<br />Remote Work.</h2>
                  <div class="speaker-name">
                      <h4>Jessica Doe <span>Former Lead UX Hulu</span></h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="speak-text">
                  <h2>Before you can<br />master design,<br />you must first<br />master the<br />fundamentals.
                  </h2>
                  <div class="speaker-name">
                      <h4>Jessica Doe <span>Former Lead UX Hulu</span></h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="speak-text">
                  <h2>Creating Usability<br />with Motion</h2>
                  <div class="speaker-name">
                      <h4>Jessica Doe <span>Former Lead UX Hulu</span></h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="speak-text">
                  <h2>7 Practical Tips<br />for Cheating at<br />Design</h2>
                  <div class="speaker-name">
                      <h4>Jessica Doe <span>Former Lead UX Hulu</span></h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="speak-text">
                  <h2>Accessibility<br />Features Are Just<br />Features</h2>
                  <div class="speaker-name">
                      <h4>Jessica Doe <span>Former Lead UX Hulu</span></h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="speak-text">
                  <h2>The Cadence of a<br />Design Team</h2>
                  <div class="speaker-name">
                      <h4>Jessica Doe <span>Former Lead UX Hulu</span></h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<script>
  var setContent = function (elms, content) {
    if (elms && content) {
      for (var i = 0; i < elms.length; i++) {
        var elm = elms[i];
        elm.innerHTML = content;
      }
    }
  };

  var daySuffix = function (i) {
    var j = i % 10,
        k = i % 100;
    if (j == 1 && k != 11) {
        return i + "<sup>st</sup>";
    }
    if (j == 2 && k != 12) {
        return i + "<sup>nd</sup>";
    }
    if (j == 3 && k != 13) {
        return i + "<sup>rd</sup>";
    }
    return i + "<sup>th</sup>";
  };

  window.onload = function() {
    var params = [];
    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    if (location.href.indexOf("404.html") !== -1) {
      params = location.hash.split("/").filter(p => p !== "#");
    } else {
      var 
      params = location.pathname.split("/");
    }

    for (var i = 0; i < 5; i++) {
      var param = params[i];
      switch (i) {
        case 0:
          setContent(document.querySelectorAll('.year'), param);
          break;
        case 1:
          var month = parseInt(param);
          if (isNaN(month) || month > 12 || month < 1) {
            month = 1;
          }
          setContent(document.querySelectorAll('.month'), months[month - 1]);
          break;
        case 2:
          var day = parseInt(param);
          if (isNaN(day) || day > 31 || day < 1) {
            day = 1;
          }

          setContent(document.querySelectorAll('.day'), daySuffix(day));
          break;
        case 3:
          const location = param.replace(/-/g, " / ");
          setContent(document.querySelectorAll('.location'), location);
          break;
        case 4:
          const eventName = param.replace(/-/g, "<br />");
          setContent(document.querySelectorAll('.event-name'), eventName);
          break;
        default:
          break;
      }
    }
  };
</script>
<!-- Speak About Section End -->
{{ end }}