{{ define "main"}}
<!-- Header Section Begin -->
<header class="header-section">
  <div class="container-fluid">
      <div class="row bg-overlay">
          <div class="header">
              <div class="col-lg-12">
                  <div class="logo">
                    <a href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}/img/logo.png" alt=""></a>
                  </div>
                  <div class="navigation mobile-menu">
                      <div class="main-menu">
                          <nav>
                              <ul>
                                  <li><a class="active" href="{{.Site.BaseURL}}">Home</a></li>
                              </ul>
                          </nav>
                      </div>
                      <div class="top-social">
                          <a href="https://twitter.com/eliostruyf"><i class="fa fa-twitter"></i></a>
                      </div>
                  </div>
                  <div id="mobile-menu-wrap"></div>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- Header End -->

<!-- Hero Area Begin -->
<div class="hero-section">
  <div class="hero-items owl-carousel">
      <div class="single-hero-item set-bg" data-setbg="{{.Site.BaseURL}}/img/slider/bg-2.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <span class="dateInfo">June 31<sup>st</sup> 2020 </span>
                      <h1>The Fake<br />Event<br />June 2042</h1>
                      <h2 class="f-bold">Space</h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="single-hero-item set-bg" data-setbg="{{.Site.BaseURL}}/img/slider/bg-2.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <span class="dateInfo">June 31<sup>st</sup> 2020 </span>
                      <h1>Cloud<br />Commit<br />June 2020</h1>
                      <h2 class="f-bold">TBA</h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="single-hero-item set-bg" data-setbg="{{.Site.BaseURL}}/img/slider/bg-1.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <span class="dateInfo">February 30<sup>th</sup> 2021</span>
                      <h1>Summit<br />Conference<br />February 2021</h1>
                      <h2 class="f-bold">TBA</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Hero Area End -->

<!-- Workshop Begin -->
<section class="workshop-section">
  <div class="workshop-img set-bg" data-setbg="{{.Site.BaseURL}}/img/workshop.jpg"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-6">
              <div class="workshop-text">
                  <h4>Create your own fake event page</h4>
                  <h2>How to start <br /> creating your <br /> own event.</h2>
                  <p>Most of us are stuck at home, and with all conferences canceled or moved online. There is now way to escape home any time soon.</p> 
                  <p>As it is April 1st, why not create your fake event to tell your colleagues/partner you cannot miss this event. Just create the following URL: <code>https://cloudcommit.io/:year/:month/:day/:location/:event-name/</code></p>
                  <p>Here is an example: <a href="https://cloudcommit.io/2020/10/25/Belgium-Antwerp/The-greatest-event/">https://cloudcommit.io/2020/10/25/Belgium-Antwerp/The-greatest-event/<a></a></p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Workshop End -->

<!-- Speaker Section Begin -->
<section class="speaker-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <h2>Speakers</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6">
              <div class="speakers-about">
                  <div class="speaker-img">
                      <img src="{{.Site.BaseURL}}/img/speaker-1.jpg" alt="">
                  </div>
                  <div class="speaker-text">
                      <h3>Jessica Doe <span>The Corporate Superhero</span></h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="speakers-about">
                  <div class="speaker-img">
                      <img src="{{.Site.BaseURL}}/img/speaker-2.jpg" alt="">
                  </div>
                  <div class="speaker-text">
                      <h3>Samatha Cools <span>The Corporate Villain</span></h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="speakers-about">
                  <div class="speaker-img">
                      <img src="{{.Site.BaseURL}}/img/speaker-3.jpg" alt="">
                  </div>
                  <div class="speaker-text">
                      <h3>John Smith <span>The Pretender</span></h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Speaker Section End -->

<!-- Speak About Section Begin -->
<section class="speak-about spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <h2>We will speak about</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="speak-text">
                  <h2>4 Reasons Why<br />You Should<br />Start Considering<br />Remote Work.</h2>
                  <div class="speaker-name">
                      <h4>Jessica Doe</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="speak-text">
                  <h2>Before you can<br />master design,<br />you must first<br />master the<br />fundamentals.
                  </h2>
                  <div class="speaker-name">
                      <h4>Samatha Cools</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="speak-text">
                  <h2>Creating Usability<br />with Motion</h2>
                  <div class="speaker-name">
                      <h4>John Smith</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="speak-text">
                  <h2>7 Practical Tips<br />for Cheating at<br />Design</h2>
                  <div class="speaker-name">
                      <h4>Samatha Cools</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="speak-text">
                  <h2>The Cadence of a<br />Remote Team</h2>
                  <div class="speaker-name">
                      <h4>Jessica Doe</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="speak-text">
                  <h2>How to help your<br /> end-users achieve more</h2>
                  <div class="speaker-name">
                      <h4>John Smith</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Speak About Section End -->
{{end}}